{% assign cv = site.data.cv %}

<div class="publications">

{% for entry in cv %}

{% if entry.type == 'time_table' %}
<h2 class="bibliography">{{ entry.title }}</h2>
<ol class="bibliography">
  {% for item in entry.contents %}
  <li>
    <div class="row">
      {% if item.year %}
      <div class="col col-sm-2 abbr">
        <abbr class="badge rounded w-100">{{ item.year }}</abbr>
      </div>
      {% endif %}
      <div class="{% if item.year %}col-sm-8{% else %}col-sm-8 offset-sm-2{% endif %}">
        <div class="title">{{ item.title }}</div>
        {% if item.institution %}
        <div class="author">{{ item.institution }}</div>
        {% endif %}
        {% if item.department %}
        <div class="periodical"><em>{{ item.department }}</em></div>
        {% endif %}
        {% if item.description %}
        <div class="periodical">
          {% for desc in item.description %}
            {% if desc.contents %}
              {{ desc.title }}:
              {% for sub in desc.contents %}{{ sub }}{% unless forloop.last %}; {% endunless %}{% endfor %}
            {% else %}
              {{ desc }}{% unless forloop.last %}<br>{% endunless %}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ol>

{% elsif entry.type == 'nested_list' %}
<h2 class="bibliography">{{ entry.title }}</h2>
<ol class="bibliography">
  {% for item in entry.contents %}
  <li>
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="title">{{ item.title }}</div>
        {% if item.items %}
        <div class="periodical">
          {% for sub in item.items %}
            <em>{{ sub }}</em>{% unless forloop.last %}<br>{% endunless %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ol>

{% elsif entry.type == 'list' %}
<h2 class="bibliography">{{ entry.title }}</h2>
<ol class="bibliography">
  {% for item in entry.contents %}
  <li>
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="title">{{ item }}</div>
      </div>
    </div>
  </li>
  {% endfor %}
</ol>

{% endif %}

{% endfor %}

</div>
